@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/noto-serif-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/noto-serif-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/noto-serif-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/noto-serif-900.ttf') format('truetype');
}

@font-face {
  font-family: 'Gentium Book Plus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/gentium-book-plus-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/gentium-book-basic-400.ttf') format('truetype');
}
